.header-title {
    text-align: center;
}

 .container-icon{
    height: 300px;
    width: auto;
    margin: 10px;
 }

 .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px
 }

 .content {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

