body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

#formWrapper {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

#description, #description2 {
    font-family: 'Arial', sans-serif;  
    font-size: 13px;                  
    font-weight: 500;                  
    color: #b5aeae;                  
    margin-bottom: 15px;               
}





input, label, button {
    margin-top: 8px;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: -5px;
}

/* Center error messages too */
#errorWrapper {
    text-align: center;
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

#charCount {
    font-size: 0.9em;
    color: #666;
    margin-top: 4px;
}

/*center the whole group*/
.radio-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    gap: 0em;
}

/* align the containers */
.radio-group label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5em;
    width: 100%;
}



.drop-zone{
    border: 2px dashed;
    padding: 20px;
}

.drop-zone.highlight{
    background-color: #e0f7fa;
    border-color: #00796b;
}

.preview-image{
    max-width: 100%;
    max-height: 120px;
    margin-top: 10px;
    cursor: grab;
}

#upload-title, 
#row6 label {
  margin-left: 0;
  padding-left: 0;
  text-align: left;
  width: 100%;

}

.image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


#row7 {
    font-family: 'Georgia', serif;     
    font-size: 14px;                  
    font-weight: normal;              
    color: #b1b5bb;                   
    margin-top: 20px;                  
}
    